/* CSS Document */
.page {
  overflow: auto;
  background: #4C6ACC;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.actions {
  height: 100%;
  max-height:500px;  
}

.teacher-card-image.mdl-card {
  width: 256px;
  height: 256px;

}
.teacher-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(171, 191, 255, 0.8);
}
.teacher-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.teacher-card-square.mdl-card {
  width: 256px;
  height: 256px;
  margin: 10px auto;
    position:absolute;
  top: 50%;
  left: 50% ;
  margin-left:-128px;
  margin-top:-128px;
}
.teacher-card-square > .mdl-card__title {
  color: #fff;
}
.teacher-Bryce {
  background: url('../images/bryce.jpg') center / cover;
}
.teacher-Rene {
  background: url('../images/rene.jpg') top / cover;
}
.teacher-Ryan {
  background: url('../images/ryan.jpg') center / cover;
}
.teacher-none {
  background: url('../images/na.jpg') center / cover;
}
.mdl-button--fab.mdl-button--colored {
  background: rgb(95, 133, 255);
  color: #fff;
}
.controls {
  width:100%;
  max-width : 600px;
  padding: 20px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  margin: 20px auto;
}
.controls > button {
  width:33%;
  min-width: 100px;
  vertical-align: middle;
}

@media screen and (max-width: 500px) {
.controls {
  width: 100%;
  padding: 20px;
  margin: 20px auto;
}
}

@media screen and (max-height: 450px) {
.teacher-card-square.mdl-card {
  width: 256px;
  height: 128px;
  margin: 10px auto;
    position:fixed;
  top: 50%;
  left: 50% ;
  margin-left:-128px;
  margin-top:-64px;
}
}
